

<ul>
  <% @bookmarks.each do |bookmark| %>
  <div>
    <input type="radio" id="<%=bookmark.id %>" name="record" value="<%=bookmark.title %>">
    <label for="<%=bookmark.id %>"> <%=bookmark.title %>  </label>
  </div>
  <% end %>
</ul>
